{% load static %}

<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
        <div class="container">
        <ul class="socialCol">
            <!-- <li><a href="javascript:void(0)"><img src="{% static 'images/fb.svg' %}" alt="..."></a></li>
            <li><a href="javascript:void(0)"><img src="{% static 'images/insta.svg' %}" alt="..."></a></li>
            <li><a href="javascript:void(0)"><img src="{% static 'images/twitter.svg' %}" alt="..."></a></li>-->
            <li><a href="https://github.com/AugustP748" target="blank"><img src="{% static 'images/github.svg' %}" alt="..."></a></li>
            <li><a href="https://www.linkedin.com/in/augusto-cesar-p-698947159/" target="blank"><img src="{% static 'images/linkedin.svg' %}" alt="..."></a></li>
        </ul>
        <div class="copyrightCol">
            <p>Copyright &copy{% now 'Y' %}  Todos los derechos reservados. Designed by Paz, Augusto Cesar</a></p>
        </div>
        </div>
    </div>
    </footer>
    <!-- ================================
    End Footer
    ================================= -->